<h1>Listing book_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Book</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_users.each do |book_user| %>
  <tr>
    <td><%= book_user.user_id %></td>
    <td><%= book_user.book_id %></td>
    <td><%= link_to 'Show', book_user %></td>
    <td><%= link_to 'Edit', edit_book_user_path(book_user) %></td>
    <td><%= link_to 'Destroy', book_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book user', new_book_user_path %>
